<h1>Criando pares</h1>

<div class="participants-section">
  <h2>Participantes:</h2>

  <%= form_for Participant.new, url: participants_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit 'Adicionar' %>
  <% end %>

  <ul>
    <% Participant.all.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
  </ul>
</div>

<div class="generate-button">
  <%= button_to 'Dividir em pares', pairings_path, method: :post %>
</div>



<% if params[:show_latest_pairs] %>
  <h1>Últimas duplas geradas</h1>

  <div class="latest-pairing-section">
    <h2>Duplas</h2>
    <ul>
      <% displayed_pairs = Set.new %>
      <% @pairs.last(4).each do |pair| %>
        <% participants = pair.pair.split(' e ').sort %>
        <% next if displayed_pairs.include?(participants) %>
        <% displayed_pairs << participants %>
        <li><%= participants.join(' e ') %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<% if @pairs.present? %>
  <h1>Histórico de Duplas</h1>
  <div class="pairings-section">
    <ul>
      <% displayed_pairs = [] %>
      <% index = 1 %>
      <% @pairs.each do |pair| %>
        <% participants = pair.pair.split(' e ').sort %>
        <% next if displayed_pairs.include?(participants) %>
        <% displayed_pairs << participants %>
        <li>
          <%= "#{index}. #{pair.pair}" %>
        </li>
        <% index += 1 %>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Adicionar Par Manualmente</h1>

<%= form_with(url: manual_pairs_path, method: :post) do |f| %>
  <%= f.label :participant1, "Participante 1" %>
  <%= f.text_field :participant1 %>

  <%= f.label :participant2, "Participante 2" %>
  <%= f.text_field :participant2 %>

  <%= f.submit 'Adicionar Par' %>
<% end %>





